In [1]:
import numpy as np
import pandas as pd
import os
os.environ['KMP_DUPLICATE_LIB_OK']='True'

In [2]:
data_raw = pd.read_csv('../rawdata/2013-2014_selected_columns.csv')
data_raw.head()

,OPEID6,INSTNM,ICLEVEL,PREDDEG,ADM_RATE_ALL,SAT_AVG_ALL,PCIP01,PCIP03,PCIP04,PCIP05,...,COUNT_NWNE_P8,COUNT_NWNE_P9,COUNT_NWNE_P10,COUNT_WNE_P6,COUNT_WNE_P7,COUNT_WNE_P8,COUNT_WNE_P9,COUNT_WNE_P10,UGDS_MEN,UGDS_WOMEN
0,1002,Alabama A & M University,1,3,0.8989,823.0,0.0397,0.0199,0.0116,0.0000,...,155,NaN,246,1187,NaN,1441,NaN,1741,0.4861,0.5139
1,1052,University of Alabama at Birmingham,1,3,0.8673,1146.0,0.0000,0.0000,0.0000,0.0018,...,348,NaN,470,2665,NaN,3080,NaN,3474,0.4135,0.5865
2,25034,Amridge University,1,3,NaN,NaN,0.0000,0.0000,0.0000,0.0000,...,47,NaN,57,146,NaN,193,NaN,168,0.3913,0.6087
3,1055,University of Alabama in Huntsville,1,3,0.8062,1180.0,0.0000,0.0000,0.0000,0.0000,...,168,NaN,188,1258,NaN,1413,NaN,1361,0.5580,0.4420
4,1005,Alabama State University,1,3,0.5125,830.0,0.0000,0.0000,0.0000,0.0000,...,217,NaN,285,1594,NaN,1621,NaN,1977,0.4085,0.5915

In [14]:
df= data_raw.dropna()
df

Empty DataFrame
Columns: [OPEID6, INSTNM, ICLEVEL, PREDDEG, ADM_RATE_ALL, SAT_AVG_ALL, PCIP01, PCIP03, PCIP04, PCIP05, PCIP09, PCIP10, PCIP11, PCIP12, PCIP13, PCIP14, PCIP15, PCIP16, PCIP19, PCIP22, PCIP23, PCIP24, PCIP25, PCIP26, PCIP27, PCIP29, PCIP30, PCIP31, PCIP38, PCIP39, PCIP40, PCIP41, PCIP42, PCIP43, PCIP44, PCIP45, PCIP46, PCIP47, PCIP48, PCIP49, PCIP50, PCIP51, PCIP52, PCIP54, TUITFTE, AVGFACSAL, PFTFAC, PCTPELL, COSTT4_A, C150_4, RET_FT4, CDR3, GRAD_DEBT_MDN, GRAD_DEBT_MDN10YR, AGE_ENTRY, FAMINC, MN_EARN_WNE_P6, MN_EARN_WNE_P7, MN_EARN_WNE_P8, MN_EARN_WNE_P9, MN_EARN_WNE_P10, MD_EARN_WNE_P6, MD_EARN_WNE_P8, MD_EARN_WNE_P10, SD_EARN_WNE_P6, SD_EARN_WNE_P7, SD_EARN_WNE_P8, SD_EARN_WNE_P9, SD_EARN_WNE_P10, COUNT_NWNE_P6, COUNT_NWNE_P7, COUNT_NWNE_P8, COUNT_NWNE_P9, COUNT_NWNE_P10, COUNT_WNE_P6, COUNT_WNE_P7, COUNT_WNE_P8, COUNT_WNE_P9, COUNT_WNE_P10, UGDS_MEN, UGDS_WOMEN]
Index: []

[0 rows x 81 columns]

In [3]:
# data_df= pd.get_dummies(data_raw)
# data_df.head()

In [4]:
# list(data_df.columns.values)

In [5]:
X = data_raw.drop("INSTNM", axis=1)
y = data_raw["INSTNM"]
print(X.shape, y.shape)

(7804, 80) (7804,)

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from keras.utils import to_categorical

X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1, stratify=y)
X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)


# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

Using TensorFlow backend.

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.