In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import json
import requests
import time
import datetime

In [2]:
# Raw data without column headings
data = pd.read_csv("US Dept Education data/Complete Data/CollegeScorecard_Raw_Data/MERGED2013_14_PP.csv")

C:\Users\Chart\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (1537,1540,1542,1547,1548,1549,1561,1575,1606,1614,1615,1729,1909,1910,1911,1912,1913) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# data['MALE_RPY_3YR_RT_SUPP'].dtypes
data['MN_EARN_WNE_P6'].dtypes

dtype('O')

In [4]:
data.head()

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMAWDP8_NOTFIRSTTIME_POOLED_SUPP,OMENRUP_NOTFIRSTTIME_POOLED_SUPP,OMENRYP_FULLTIME_POOLED_SUPP,OMENRAP_FULLTIME_POOLED_SUPP,OMAWDP8_FULLTIME_POOLED_SUPP,OMENRUP_FULLTIME_POOLED_SUPP,OMENRYP_PARTTIME_POOLED_SUPP,OMENRAP_PARTTIME_POOLED_SUPP,OMAWDP8_PARTTIME_POOLED_SUPP,OMENRUP_PARTTIME_POOLED_SUPP
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data.shape

(7804, 1977)

In [6]:
# data.dtypes

In [7]:
# data.loc[:, ['MALE_RPY_3YR_RT_SUPP']].head(-1)
# data.loc[:, ['MN_EARN_WNE_P6']].head(-1)

In [9]:
new_data = data[['OPEID6',
'INSTNM',
'ICLEVEL',
'PREDDEG',
'ADM_RATE_ALL',
'SAT_AVG_ALL',
'PCIP01',
'PCIP03',
'PCIP04',
'PCIP05',
'PCIP09',
'PCIP10',
'PCIP11',
'PCIP12',
'PCIP13',
'PCIP14',
'PCIP15',
'PCIP16',
'PCIP19',
'PCIP22',
'PCIP23',
'PCIP24',
'PCIP25',
'PCIP26',
'PCIP27',
'PCIP29',
'PCIP30',
'PCIP31',
'PCIP38',
'PCIP39',
'PCIP40',
'PCIP41',
'PCIP42',
'PCIP43',
'PCIP44',
'PCIP45',
'PCIP46',
'PCIP47',
'PCIP48',
'PCIP49',
'PCIP50',
'PCIP51',
'PCIP52',
'PCIP54',
'TUITFTE',
'AVGFACSAL',
'PFTFAC',
'PCTPELL',
'COSTT4_A',
'C150_4',
'RET_FT4',
'CDR3',
'GRAD_DEBT_MDN',
'GRAD_DEBT_MDN10YR',
'AGE_ENTRY',
'FAMINC',
'MN_EARN_WNE_P6',
'MN_EARN_WNE_P7',
'MN_EARN_WNE_P8',
'MN_EARN_WNE_P9',
'MN_EARN_WNE_P10',
'MD_EARN_WNE_P6',
'MD_EARN_WNE_P8',
'MD_EARN_WNE_P10',
'SD_EARN_WNE_P6',
'SD_EARN_WNE_P7',
'SD_EARN_WNE_P8',
'SD_EARN_WNE_P9',
'SD_EARN_WNE_P10',
'COUNT_NWNE_P6',
'COUNT_NWNE_P7',
'COUNT_NWNE_P8',
'COUNT_NWNE_P9',
'COUNT_NWNE_P10',
'COUNT_WNE_P6',
'COUNT_WNE_P7',
'COUNT_WNE_P8',
'COUNT_WNE_P9',
'COUNT_WNE_P10',
'UGDS_MEN',
'UGDS_WOMEN'
]].copy()

In [11]:
new_data.head(2)

,OPEID6,INSTNM,ICLEVEL,PREDDEG,ADM_RATE_ALL,SAT_AVG_ALL,PCIP01,PCIP03,PCIP04,PCIP05,...,COUNT_NWNE_P8,COUNT_NWNE_P9,COUNT_NWNE_P10,COUNT_WNE_P6,COUNT_WNE_P7,COUNT_WNE_P8,COUNT_WNE_P9,COUNT_WNE_P10,UGDS_MEN,UGDS_WOMEN
0,1002,Alabama A & M University,1,3,0.8989,823.0,0.0397,0.0199,0.0116,0.0000,...,155,NaN,246,1187,NaN,1441,NaN,1741,0.4861,0.5139
1,1052,University of Alabama at Birmingham,1,3,0.8673,1146.0,0.0000,0.0000,0.0000,0.0018,...,348,NaN,470,2665,NaN,3080,NaN,3474,0.4135,0.5865

In [12]:
new_data.to_csv("US Dept Education data/Output/2013-2014_selected_columns.csv", index=False, header=True)