In [2]:
from sklearn.linear_model import LinearRegression, Lasso
import numpy as np
import pandas as pd

In [3]:
x1 = np.array([1,4,6,4])
x2 = np.array([2,1,2,3])
x3 = np.array([3,2,6,2])
y = np.array([8,11,18,17])

In [4]:
X = np.stack([x1,x2,x3], axis=1)
X

array([[1, 2, 3],
       [4, 1, 2],
       [6, 2, 6],
       [4, 3, 2]])

In [5]:
reg = LinearRegression().fit(X, y)

In [6]:
reg.coef_

array([ 2.00000000e+00,  3.00000000e+00, -1.22124533e-15])

In [7]:
lasso = Lasso(alpha=1).fit(X,y)

In [8]:
lasso.coef_

array([1.68627451, 1.        , 0.        ])

In [9]:
lasso = Lasso(alpha=0.1).fit(X,y)

In [10]:
lasso.coef_

array([1.96862745, 2.8       , 0.        ])

In [11]:
lasso = Lasso(alpha=0.01).fit(X,y)
lasso.coef_

array([1.99686275, 2.98      , 0.        ])

In [74]:
lasso = Lasso(alpha=0.01).fit(X,y)
lasso.coef_

NameError: name 'y' is not defined

In [131]:
data = pd.read_csv('Cleaned 2013_2014.csv')
data

,6-digit OPE ID for institution,Admission rate for all campuses rolled up to the 6-digit OPE ID,Average SAT equivalent score of students admitted for all campuses rolled up to the 6-digit OPE ID,Proportion of faculty that is full-time,"First-time, full-time student retention rate at four-year institutions",The median debt for students who have completed,Average age of entry,Average family income in real 2015 dollars,Mean earnings of students working and not enrolled 6 years after entry,Mean earnings of students working and not enrolled 8 years after entry,Mean earnings of students working and not enrolled 10 years after entry,Nat Log Mean earnings of students working and not enrolled 10 years after entry,Average cost of attendance (academic year institutions),"Completion rate for first-time, full-time students at four-year institutions (150% of expected time to completion)",Unnamed: 14,Unnamed: 15
0,1002,0.898900,823,0.88560,0.63140,29500.0,20.540410,29598.38641,27200,29700,34300,10.442901,18888.0,0.291400,NaN,NaN
1,1004,0.872900,1070,0.59510,0.73650,22500.0,21.791473,53709.14341,27000,31600,36000,10.491274,20194.0,0.449300,NaN,NaN
2,1005,0.512500,830,0.66410,0.62190,31200.0,20.648575,28112.46513,23100,26000,29500,10.292146,17400.0,0.251700,NaN,NaN
3,1009,0.827400,1215,0.87800,0.89460,21500.0,20.600619,90266.79915,40300,48500,54100,10.898589,23788.0,0.679200,NaN,NaN
4,1012,0.642200,1177,0.64790,0.80370,27000.0,19.693512,92290.00447,35700,41100,51000,10.839581,44167.0,0.619200,NaN,NaN
5,1016,0.809200,1028,0.98820,0.70790,20691.0,22.269504,50002.97723,30300,35500,40900,10.618885,15058.0,0.321600,NaN,NaN
6,1019,0.627900,999,0.40830,0.61960,26230.0,23.579747,58792.43798,32300,38400,42400,10.654904,31433.0,0.431900,NaN,NaN
7,1020,0.832600,1036,0.65160,0.71120,21500.0,23.232474,46596.32945,30300,33700,37000,10.518673,19202.0,0.308300,NaN,NaN
8,1023,0.738800,1023,1.00000,0.59740,26000.0,22.801887,40426.42453,25800,23800,31600,10.360912,27815.0,0.405100,NaN,NaN
9,1024,0.995700,950,0.54040,0.57810,20000.0,22.875852,34159.50114,28400,35300,38500,10.558414,17959.0,0.316100,NaN,NaN
10,1029,0.712500,1058,1.00000,0.77270,27000.0,24.533170,52524.52457,32100,35200,38200,10.550591,30108.0,0.490400,NaN,NaN
11,1033,0.343500,924,1.00000,0.78760,27500.0,22.217213,50935.80635,25600,32000,37400,10.529426,34705.0,0.363200,NaN,NaN
12,1036,0.769700,1153,0.99390,0.86730,22917.5,21.622246,95708.00944,43900,48500,57400,10.957800,38835.0,0.692000,NaN,NaN
13,1041,0.462700,1100,0.59700,0.75590,27000.0,20.255988,73851.31587,35700,40800,48700,10.793434,43325.0,0.563200,NaN,NaN
14,1044,0.430000,882,1.00000,0.61230,38500.0,21.119601,29734.91196,22600,30300,29500,10.292146,24744.0,0.261900,NaN,NaN
15,1047,0.682100,990,0.40070,0.73890,22500.0,28.374273,37173.57856,33100,36900,39400,10.581521,16877.0,0.346600,NaN,NaN
16,1050,0.351100,937,0.96850,0.72420,33000.0,19.789357,46466.18108,34500,36300,40900,10.618885,32853.0,0.438400,NaN,NaN
17,1051,0.565500,1171,0.70360,0.87000,22910.0,21.527737,84792.60282,39000,43100,49900,10.817776,26717.0,0.666500,NaN,NaN
18,1052,0.867300,1146,0.91060,0.80160,20345.5,23.458815,50152.83843,38300,42500,46400,10.745055,19990.0,0.537700,NaN,NaN
19,1055,0.806200,1180,0.65550,0.80980,22750.0,24.101277,51005.94232,39200,44400,50500,10.829729,20306.0,0.483500,NaN,NaN
20,1057,0.860400,1064,0.64180,0.67870,23000.0,22.607137,49003.41488,34300,40100,45200,10.718852,17125.0,0.334200,NaN,NaN
21,1061,0.374500,1008,1.00000,0.66670,22250.0,26.784314,56771.30065,38000,40100,45600,10.727663,42925.0,0.390200,NaN,NaN
22,1081,0.762595,1108,0.88548,0.81638,19060.0,24.427203,57532.30280,40300,47000,52600,10.870471,21212.0,0.542575,NaN,NaN
23,1082,0.913700,1050,0.61720,0.71780,20500.0,23.998068,58568.93021,35600,38700,43900,10.689670,22771.0,0.492400,NaN,NaN
24,1083,0.769200,1106,0.74780,0.81480,17750.0,21.376465,65457.14152,39500,46700,54000,10.896739,23905.0,0.613900,NaN,NaN
25,1086,0.277000,842,0.83260,0.56210,26183.0,21.462217,26543.86650,23300,26700,30200,10.315597,15414.0,0.258300,NaN,NaN
26,1088,0.589800,1142,0.70690,0.69810,24250.0,20.630814,57943.19477,33600,34900,43900,10.689670,33355.0,0.496500,NaN,NaN
27,1089,0.850300,1008,1.00000,0.69370,15805.0,25.029789,38589.78808,30500,34300,37100,10.521372,16126.0,0.402500,NaN,NaN
28,1090,0.755100,1088,0.74300,0.73120,17250.0,24.147964,40611.28118,30700,32500,36000,10.491274,18809.0,0.369800,NaN,NaN
29,1092,0.899700,1070,0.75420,0.69770,19818.5,21.320208,49496.31121,31300,37000,40800,10.616437,17899.0,0.420300,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1238,12580,0.988600,970,0.51430,0.81250,23890.0,26.175573,38043.62595,27000,31200,29700,10.298902,28581.0,0.250000,NaN,NaN
1239,20530,0.216500,1030,0.63330,0.68510,20000.0,32.403808,40054.37543,33700,36800,39100,10.573878,31344.0,0.501700,NaN,NaN
1240,20653,0.729300,1094,0.69320,0.73440,24664.0,29.420063,46896.11912,28600,29000,33900,10.431170,40206.0,0.376800,NaN,NaN
1241,20662,0.665900,1131,0.19930,0.82760,25000.0,22.251876,70072.17355,38600,47000,52700,10.872371,57202.0,0.633600,NaN,NaN
1242,20705,0.911900,1020,0.34420,0.76330,20834.0,22.853826,76634.00774,36300,42400,48300,10.785187,41233.0,0.625600,NaN,NaN
1243,20758,0.866700,1137,0.40580,0.93750,39500.0,23.409091,45388.69697,42800,42900,46400,10.745055,50373.0,0.500000,NaN,NaN
1244,21064,0.581600,1050,0.27500,0.60000,27000.0,22.595745,56991.67021,32200,32700,32700,10.395130,35632.0,0.428600,NaN,NaN
1245,21078,0.764300,891,0.53170,0.67700,12500.0,27.055162,37808.63121,35200,37400,42100,10.647803,9874.0,0.250000,NaN,NaN
1246,21366,0.635600,1097,0.96050,0.81820,23573.5,22.324961,69454.39560,36300,35000,43000,10.668955,34237.0,0.635400,NaN,NaN
1247,21415,0.654700,1078,0.79740,0.80710,27000.0,21.224246,80811.96471,30700,35600,39800,10.591622,49179.0,0.683000,NaN,NaN
1248,21567,0.417200,970,0.42860,0.74680,23543.0,24.812030,46330.34587,28400,28300,33100,10.407289,26241.0,0.322600,NaN,NaN
1249,21596,0.425700,1062,1.00000,0.83330,17900.0,25.968627,42029.73726,27800,30700,36600,10.507804,15748.0,0.368400,NaN,NaN
1250,21691,0.585900,928,0.36840,0.87100,21504.0,25.783133,36041.42169,22900,30400,31300,10.351373,21593.0,0.421100,NaN,NaN
1251,22345,1.000000,977,0.69230,0.66000,19000.0,22.896552,37977.27586,24900,32300,29900,10.305614,23036.0,0.531900,NaN,NaN
1252,22704,0.961500,970,1.00000,0.64290,28778.0,31.153846,40466.55385,29800,34000,35600,10.480101,19127.0,0.193500,NaN,NaN
1253,22706,0.748200,930,0.18750,0.62790,21500.0,22.357827,53337.01597,29200,29800,32000,10.373491,24492.0,0.511100,NaN,NaN
1254,23172,0.714600,1061,0.64290,0.72040,16000.0,22.411236,52353.06742,29400,34300,35400,10.474467,23879.0,0.484300,NaN,NaN
1255,23580,0.792100,1243,0.97870,0.86900,15750.0,19.682927,91040.51220,29200,33000,45700,10.729854,35056.0,0.795500,NaN,NaN
1256,25762,0.703100,923,0.20680,0.62140,13325.0,33.065319,29630.16952,39300,44100,44000,10.691945,29971.0,0.253800,NaN,NaN
1257,30113,0.625100,966,0.48520,0.82300,18186.0,22.764278,49565.59094,38100,44400,49100,10.801614,20386.0,0.479100,NaN,NaN
1258,30719,0.542100,1030,0.65310,0.76830,19500.0,25.889943,71444.82543,50100,52000,56900,10.949051,25491.0,0.559500,NaN,NaN
1259,30888,0.349800,971,0.37250,0.64440,31000.0,21.843023,42480.98256,25800,32800,38700,10.563595,33979.0,0.370400,NaN,NaN
1260,30913,0.851400,1067,0.94250,0.76770,25000.0,29.083448,47561.99448,33500,40000,45700,10.729854,26825.0,0.511600,NaN,NaN
1261,31019,0.484700,863,1.00000,0.47170,11204.0,23.973282,34900.68321,22300,29700,30400,10.322198,16752.0,0.388900,NaN,NaN
1262,31155,0.976200,884,0.98800,0.71430,19319.0,28.373440,47694.61319,50600,53200,54600,10.907789,21358.0,0.395300,NaN,NaN
1263,32553,0.657900,1024,0.68170,0.76630,17573.0,21.731489,54779.52994,35400,41400,45200,10.718852,18097.0,0.441600,NaN,NaN
1264,32603,0.444000,976,0.45700,0.81220,17029.0,23.791628,47468.00844,33400,38800,45300,10.721062,18479.0,0.382800,NaN,NaN
1265,34403,0.463000,1125,0.98730,0.74240,31237.0,27.050826,39168.66074,47600,51100,53100,10.879932,19745.0,0.387800,NaN,NaN
1266,37243,0.663500,1225,0.51040,0.75630,27000.0,21.717026,76956.35012,60400,64800,85700,11.358608,37848.0,0.542200,NaN,NaN
1267,39803,0.644300,954,0.47410,0.78140,15000.0,23.546751,45953.54200,34800,44400,46100,10.738568,22570.0,0.515600,NaN,NaN

In [132]:
Y = data['Nat Log Mean earnings of students working and not enrolled 10 years after entry']
Y.head()
# Median earnings of students working and not enrolled 10 years after entry

0    10.442901
1    10.491274
2    10.292146
3    10.898589
4    10.839581
Name: Nat Log Mean earnings of students working and not enrolled 10 years after entry, dtype: float64

In [133]:
X = data.drop(columns=['Nat Log Mean earnings of students working and not enrolled 10 years after entry','Unnamed: 14','Unnamed: 15'])
X.head()

,6-digit OPE ID for institution,Admission rate for all campuses rolled up to the 6-digit OPE ID,Average SAT equivalent score of students admitted for all campuses rolled up to the 6-digit OPE ID,Proportion of faculty that is full-time,"First-time, full-time student retention rate at four-year institutions",The median debt for students who have completed,Average age of entry,Average family income in real 2015 dollars,Mean earnings of students working and not enrolled 6 years after entry,Mean earnings of students working and not enrolled 8 years after entry,Mean earnings of students working and not enrolled 10 years after entry,Average cost of attendance (academic year institutions),"Completion rate for first-time, full-time students at four-year institutions (150% of expected time to completion)"
0,1002,0.8989,823,0.8856,0.6314,29500.0,20.540410,29598.38641,27200,29700,34300,18888.0,0.2914
1,1004,0.8729,1070,0.5951,0.7365,22500.0,21.791473,53709.14341,27000,31600,36000,20194.0,0.4493
2,1005,0.5125,830,0.6641,0.6219,31200.0,20.648575,28112.46513,23100,26000,29500,17400.0,0.2517
3,1009,0.8274,1215,0.8780,0.8946,21500.0,20.600619,90266.79915,40300,48500,54100,23788.0,0.6792
4,1012,0.6422,1177,0.6479,0.8037,27000.0,19.693512,92290.00447,35700,41100,51000,44167.0,0.6192

In [134]:
lasso = Lasso(alpha=1).fit(X,Y)
lasso

Lasso(alpha=1, copy_X=True, fit_intercept=True, max_iter=1000, normalize=False,
      positive=False, precompute=False, random_state=None, selection='cyclic',
      tol=0.0001, warm_start=False)

In [135]:
lasso.coef_

array([-2.18480792e-07,  0.00000000e+00, -0.00000000e+00, -0.00000000e+00,
        0.00000000e+00, -7.40185674e-07,  0.00000000e+00,  1.24111287e-06,
        2.09022856e-06, -2.23834450e-06,  1.68363762e-05, -4.88396153e-07,
        0.00000000e+00])

In [136]:
X.columns

Index(['6-digit OPE ID for institution',
       'Admission rate for all campuses rolled up to the 6-digit OPE ID',
       'Average SAT equivalent score of students admitted for all campuses rolled up to the 6-digit OPE ID',
       'Proportion of faculty that is full-time',
       'First-time, full-time student retention rate at four-year institutions',
       'The median debt for students who have completed',
       'Average age of entry', 'Average family income in real 2015 dollars',
       'Mean earnings of students working and not enrolled 6 years after entry',
       'Mean earnings of students working and not enrolled 8 years after entry',
       'Mean earnings of students working and not enrolled 10 years after entry',
       'Average cost of attendance (academic year institutions)',
       'Completion rate for first-time, full-time students at four-year institutions (150% of expected time to completion)'],
      dtype='object')

In [137]:
lasso_results = pd.DataFrame()

In [138]:
lasso_results['feature']=X.columns

In [139]:
lasso_results['coef']=lasso.coef_

In [140]:
lasso_results

                                              feature          coef
0                      6-digit OPE ID for institution -2.184808e-07
1   Admission rate for all campuses rolled up to t...  0.000000e+00
2   Average SAT equivalent score of students admit... -0.000000e+00
3             Proportion of faculty that is full-time -0.000000e+00
4   First-time, full-time student retention rate a...  0.000000e+00
5     The median debt for students who have completed -7.401857e-07
6                                Average age of entry  0.000000e+00
7          Average family income in real 2015 dollars  1.241113e-06
8   Mean earnings of students working and not enro...  2.090229e-06
9   Mean earnings of students working and not enro... -2.238344e-06
10  Mean earnings of students working and not enro...  1.683638e-05
11  Average cost of attendance (academic year inst... -4.883962e-07
12  Completion rate for first-time, full-time stud...  0.000000e+00

In [120]:
reg = LinearRegression().fit(X, Y)

In [121]:
reg.coef_

array([-6.14213751e-07,  6.04994880e-02, -3.07174152e-05, -2.29997470e-02,
        1.51313347e-01, -5.99142015e-07,  4.61220578e-03,  1.29166505e-06,
        6.49918904e-07, -2.42504634e-06,  1.79977542e-05, -4.89571091e-07,
       -1.16269117e-02])

In [122]:
linear_results = pd.DataFrame()
linear_results['feature']=X.columns
linear_results['coef']=reg.coef_

In [123]:
linear_results

                                              feature          coef
0                      6-digit OPE ID for institution -6.142138e-07
1   Admission rate for all campuses rolled up to t...  6.049949e-02
2   Average SAT equivalent score of students admit... -3.071742e-05
3             Proportion of faculty that is full-time -2.299975e-02
4   First-time, full-time student retention rate a...  1.513133e-01
5     The median debt for students who have completed -5.991420e-07
6                                Average age of entry  4.612206e-03
7          Average family income in real 2015 dollars  1.291665e-06
8   Mean earnings of students working and not enro...  6.499189e-07
9   Mean earnings of students working and not enro... -2.425046e-06
10  Mean earnings of students working and not enro...  1.799775e-05
11  Average cost of attendance (academic year inst... -4.895711e-07
12  Completion rate for first-time, full-time stud... -1.162691e-02

In [124]:
C = data['Nat Log Mean earnings of students working and not enrolled 10 years after entry'].mean()
C

10.767365489700317

In [125]:
m = data['Nat Log Mean earnings of students working and not enrolled 10 years after entry'].quantile(0.90)
print(m)

11.073334387000001

In [128]:
q = data.copy().loc[data['Nat Log Mean earnings of students working and not enrolled 10 years after entry'] >= m]

In [130]:
q.shape

(127, 16)